
 <header class="header black-bg">        
   <div class="sidebar-toggle-box">

  </div>
    <a href="/#" class="logo">
       <img class="logohomeimg" src="assets/img/hiverbook.png"  > 
          <b>Hiver<span>book</span></b>
    </a>
                  







<div class="menu_comando_logon">




                    <ul class="nav top-menu">

                        <li id="header_notification_bar" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle linkBranco" href="">
                                
                                <b>{{t "app.selectlanguage"}}</b> <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu extended notification left-menu-logon">

                                   <li>
                                      <a href="/?setLng=en-US#">
                                           {{t "app.english"}}
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/?setLng=de-DE#">
                                          {{t "app.german"}}
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/?setLng=pt-BR#">
                                          {{t "app.portuguese"}}
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/?setLng=es-ES#">
                                          {{t "app.spanish"}}
                                          
                                      </a>
                                  </li>
                            </ul>
                        </li>
                    </ul>
                </div>








           




</header>