
 <header class="header black-bg">
        
                  <a href="#" class="logo"><img src="assets/img/hiverbook.png"  width="70"><b>HIVER<span>BOOK</span></b></a>
                  <div class="nav notify-row" id="top_menu">
                      <ul class="nav top-menu">

                          <li id="header_notification_bar" class="dropdown">
                              <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                                  
                                 {{t "app.selectlanguage"}}  <i class="fa fa-chevron-down"></i>
                              </a>
                              <ul class="dropdown-menu extended notification">
                                  <div class="notify-arrow notify-arrow-yellow"></div>

                                  <li>
                                      <a href="/?setLng=en-US#">
                                          <span ></span>
                                           {{t "app.english"}}
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/?setLng=de-DE#">
                                          <span ></span>
                                          {{t "app.german"}}
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/?setLng=pt-BR#">
                                          <span ></span>
                                          {{t "app.portuguese"}}
                                      </a>
                                  </li>
                                  <li>
                                      <a href="/?setLng=es-ES#">
                                          <span ></span>
                                          {{t "app.spanish"}}
                                          
                                      </a>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </div>

              </header>