<!DOCTYPE html>
<html lang="en">
      <head>

       {{> meta}}
       {{> css}}
       {{> js}}

     </head>

     <body>
       {{> header_logon}}




      <div style="display: none;" class="alert alert-warning alert-dismissable">
        <button type="button" data-dismiss="div.alert" aria-hidden="true" class="close">×</button>
        <div class="alert-title-error"><strong> Warning!</strong></div>
        <div class="alert-msg-error">
          <p>Better check yourself, you're not looking too good. </p>
        </div>
      </div>


      <div class="form-central">


          <form method="post" id="get-credentials-form" class="form-horizontal style-form">
            <div class="login-wrap">
              <p class="subheading"> </p><br>
              <p> Please enter the email address associated with your account</p>
              <br>
              <label for="email-tf" class="sr-only"></label>
              <input type="email" name="email" id="email-tf" required placeholder="{{t "app.labelEmail"}}" class="form-control"><br>
              <button type="submit" id="submit" class="btn btn-theme btn-block"></i>Submit</button>
            </div>
              
            </form>           
        </div>


  {{> footer}}
</body>
</html>