<!DOCTYPE html>
<html lang="en">
      <head>

       {{> meta}}
       {{> css}}
       {{> js}}

     </head>

     <body>
       {{> header_logon}}

       <aside>
        <div id="welcomebar"  class="nav-collapse ">
          <br>
          <ul class="welcomebar-menu" id="nav-accordion">
            <h5 class="centered">{{t "app.mission"}}</h5>
            <p class="centered"><a href=""><img src="assets/img/clouds.png"  width="150"></a></p>
          </ul>

        </div>
      </aside>


      <div style="display: none;" class="alert alert-warning alert-dismissable">
        <button type="button" data-dismiss="div.alert" aria-hidden="true" class="close">×</button>
        <div class="alert-title-error"><strong> Warning!</strong></div>
        <div class="alert-msg-error">
          <p>Better check yourself, you're not looking too good. </p>
        </div>
      </div>


      <div class="form-central">


          <form method="post" id="set-password-form" class="form-horizontal style-form">
            <div class="login-wrap">
              <p class="subheading"> </p><br>
              <p> Please enter your new password</p>
              <br>
              <label for="pass-tf" class="sr-only"></label>
              <input type="password" name="pass" id="pass-tf" required placeholder="{{t "app.labelPassword"}}" class="form-control"><br>
              <button type="submit" id="submit" class="btn btn-theme btn-block"></i>Submit</button>
            </div>
              
            </form>           
        </div>


  {{> footer}}
</body>
</html>